@import-normalize;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d4d3d8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 40px;
}

/* FONTS */
/* font-family: 'Inter', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
